.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }
  .class__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .class__content .section__header {
    text-align: left;
    max-width: 400px;
  }
  .section__header {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    color: var(--white);
  }
  .class__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .class__image {
    position: relative;
  }
  
  .class__image .class__img-1 {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 500px;
    border-radius: 10px;
  }
  
  .class__image .class__img-2 {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 300px;
    border-radius: 10px;
  }
  
  .class__content {
    padding: 2rem 0;
  }
  
  .class__content .section__header {
    text-align: left;
    max-width: 400px;
  }
  
  .class__content p {
    margin-bottom: 4rem;
    color: var(--text-light);
  }